td,
tr,
th,
tbody,
thead {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 20px;
  text-align: justify;
  border-collapse: collapse;
}

table {
    margin: 10px;
  /* border-collapse: separate; */
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden; /* Important to clip corners */
}
